
<div>
  <div class="card" style="margin: 0 auto; align-items: center;">
    <img class="card-img-top" src="./assets/images/profile.png" style="width:10%;" alt="Card image">
    <div class="card-body">
      <h4 class="card-title">Yogesh Chavan</h4>
      <!-- <p class="card-text">Some example text.</p> -->
      <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
    </div>
  </div>

<div class="card-deck mt-2">
<div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
  <div class="card-header">Field 1</div>
  <div class="card-body">
    <!-- <h5 class="card-title">Secondary card title</h5> -->
    <p class="card-text">Temprature: <span id="lblTemprature">0</span></p>
    <p class="card-text">Humidity  : <span id="lblHumidity">0</span></p>
    <p class="card-text">Moisture  : <span id="lblMoisture">0</span></p>

  </div>
</div>

<div class="card text-white bg-success mb-3" style="max-width: 18rem;">
  <div class="card-header">Field 2</div>
  <div class="card-body">
    <!-- <h5 class="card-title">Success card title</h5> -->
    <p class="card-text">Temprature: <span>0</span></p>
    <p class="card-text">Humidity  : <span>0</span></p>
    <p class="card-text">Moisture  : <span>0</span></p>
  </div>
</div>

<div class="card text-white bg-info mb-3" style="max-width: 18rem;">
  <div class="card-header">Field 3</div>
  <div class="card-body">
    <!-- <h5 class="card-title">Danger card title</h5> -->
    <p class="card-text">Temprature: <span>0</span></p>
    <p class="card-text">Humidity  : <span>0</span></p>
    <p class="card-text">Moisture  : <span>0</span></p>
  </div>
</div>
</div>
